@using Minecraft.Models
@model IEnumerable<User>
@{
    ViewData["Title"] = "Main page";
}

<div>
    <a asp-action="Create">Create New User</a>
    @foreach (var user in Model)
    {
        <div>
            <h1>@user.Name</h1>
            <p>@user.Email</p>
            <p>@user.Password</p>
            <a asp-action="Update" asp-route-id="@user.Id">Edit</a>
            <a asp-action="Delete" asp-route-id="@user.Id">Delete</a>
        </div>
    }
</div>